<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Team Bin</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="logotext"><span><%= image_tag "teambin5circle.png", :class => "logo" %></span><strong>TeamBin</strong></div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right" style="background-color: rgb(86, 86, 86);">
            <li class="navbar-text">Here</li>
            <li class="navbar-text">Are</li>
            <li class="navbar-text">A</li>
            <li class="navbar-text">List</li>
            <li class="navbar-text">Of</li>
            <li class="navbar-text">Links</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</div>


<div class="tier2">
  <% if user_signed_in? %>
  <ul class="pull-right">
    <li>Logged in as <strong><%= link_to current_user.email, edit_user_registration_path %></strong></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :get %></li>
    <% else %>
    <li class="<%= 'active' if current_page?(new_user_session_path) %> pull-right"><%= link_to 'Sign In', new_user_session_path %></li>
    <% end %>
  </ul>
</div>

    <div class="flash-messages">
      <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, id: key, class: "alert alert-success", role: "alert" %>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
